/*
styles.css
Donate form custom layouts and styles
Steve Avery
September 2013
*/

.hidden {
	display:none;
}
.membership-level {
	background-color: pink;
}
#sdf_form {
	width:90%;
	margin:auto;
}
form input,
form select {
	margin-bottom:1em;
	margin-right: 1em;
}
form > label,
#js-cc-fields > label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 150px;
	clear:left;
}
.wider label {
	width: 470px;
	float: left;
	text-align: right;
	margin-right: 15px;
	clear:left;
}
#copy-personal-info-label {
	width:300px;
}
fieldset {
	border:none;
	border-top:1px solid #C0C0C0;
}
legend {
	font-weight: 700;
	padding:0 0.5em;
}
input.amount {
	margin:0 0.5em 0 1em;
}
.address-padding {
	margin-left: 165px;
}
.address-padding div {
	float:left;
}
select#country,
select#cc-country {
	float: left;
}
.address-padding input {
	display: block;
}
input.wider {
	width:357px;
}
input#cc-cvc {
	width:47px;
}
input[type="number"] {
	width:78px;
	margin-right: 0;
}
input#js-form-submit {
	clear:both;
	display: block;
	margin-left: 164px;
}
hr {
	clear:both;
}
.alert p {
	display: block;
	margin:1em 0;
	padding:0 1em;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
p.success {
	background-color: lightgreen;
}
p.error {
	background-color: pink;
}
/* clearfix rules */
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}