/*
styles.css
Donate form custom layouts and styles
Steve Avery
September 2013
*/

#sdf_form .hideme {
	display:none;
}
#sdf_form input:invalid {
	background-color: white;
	color:inherit;
}
#sdf_form input.field-error,
#sdf_form input.field-custom-error {
	background-color: #00CCFF;
	color:white;
}
#sdf_form span.label-required {
	font-weight: 700;
	color:red;
	font-size: 1.25em;
}
#sdf_form .membership-level {
	background-color: #EF4AA8;
	position:relative;
	padding:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
}
#sdf_form {
	width:90%;
	margin:auto;
}
#sdf_form input,
#sdf_form select {
	margin-bottom:1em;
	margin-right: 1em;
}
#sdf_form form > label,
#js-cc-fields > label {
	float: left;
	text-align: right;
	margin-right: 1em;
	width: 150px;
	clear:left;
}
#sdf_form div.wider {
	margin-top: 1em;
}
#sdf_form .wider label {
	float: left;
	text-align: right;
	margin-right: 1em;
	clear:left;
	white-space: nowrap;
}
#sdf_form #copy-personal-info-label {
	white-space: nowrap;
	float: none;
}
#sdf_form fieldset {
	margin-bottom: 1em;
	background-image: url(/img/dashed-line.png);
	background-repeat: repeat-x;
	background-position: right top;
	border: none;
}
#sdf_form legend {
	font-weight: 700;
	padding:0 0.5em;
	margin-bottom: 12px;
	background-color: white;
}
#sdf_form input.amount {
	margin:5px 0.5em 5px 1em;
}
#sdf_form .address-padding {
	margin-left: 165px;
}
#sdf_form .address-padding div {
	float:left;
	padding-right: 2px;
}
#sdf_form .address-padding div.last {
	width:145px;
}
#sdf_form select#country,
#sdf_form select#cc-country {
	float: left;
}
#sdf_form .address-padding input {
	display: block;
}
#sdf_form input.wider {
	width:299px;
}
#sdf_form input#cc-cvc {
	width:47px;
}
#sdf_form input.date-input,
#sdf_form input.money-amount {
	width:65px;
	margin-right: 0;
}
#sdf_form input.state-width {
	width:120px;
}
#sdf_form input.amount[type="radio"] {
	cursor: pointer;
}
#sdf_form div.button-dark {
	clear:both;
	display: block;
	margin-left: 165px;
}
#sdf_form div.button-dark a {
	padding-top: 6px;
}
#sdf_form hr.dashed-line {
	width:100%;
	margin:0 0 1em;
	clear:both;
}
/* clearfix rules */
#sdf_form .cf:before,
#sdf_form .cf:after {
    content: " "; 
    display: table;
}
#sdf_form .cf:after {
    clear: both;
}
#sdf_form .cf {
    *zoom: 1;
}
#sdf_form h3 {
	text-transform: uppercase;
}
#sdf_form a.disabled {
	cursor:default;
	background-color: #C2C2C2;
}
#loading {
	background: #666;
	opacity: 0.9;
	color: #FFF;
	float: left;
	width: 260px;
	height: 120px;
	margin: 0 20px 20px 0;
	position:fixed;
	top:0;
	left:50%;
	margin-left:-130px;
}
.alert {
	padding-top: 1.5em;
}
.alert p {
	display: block;
	margin:1em 0;
	padding:0 1em;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
p.success {
	background-color: lightgreen;
}
p.error {
	background-color: pink;
}